
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-tumblr:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-facebook-official:before { content: '\e807'; } /* '' */
.icon-docs:before { content: '\e808'; } /* '' */
.icon-doc-text:before { content: '\e809'; } /* '' */
.icon-chrome:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-ie:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */